<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">
    <display-name>Phone ca</display-name>
    <servlet>
        <servlet-name>CozzServlet</servlet-name>
        <servlet-class>coz.zell.servl.CozzServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CozzServlet</servlet-name>
        <url-pattern>/jj</url-pattern>
    </servlet-mapping>
</web-app>